.app {
  height: 100%;
  margin-top: 15px;
}

.app header {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.app footer {
  position: absolute;
  text-align: center;
  margin-bottom: 5px;
  width: 100%;
  height: 25px;
  bottom: 0;
}

.app-grid-container {
  display: grid;
  height: fit-content;
  width: fit-content;
  row-gap: 25px;
  margin: 10% auto 0;
}

.app-grid-container img {
  width: 300px;
  height: 232px;
  margin: auto;
}

.app-grid-container p, h2 {
  text-align: center;
}

.app-grid-container p {
  margin: 0;
}

@media only screen and (min-width: 715px) {
  .app-grid-container {
    margin: 0 auto;
  }
}

@media only screen and (min-height: 675px) {
  .app-grid-container {
    display: grid;
    height: fit-content;
    width: fit-content;
    row-gap: 50px;
    margin: 10% auto 0;
  }
}

@media only screen and (min-height: 800px) {
  .app-grid-container {
    row-gap: 75px;
  }
}

@media only screen and (min-height: 950px) {
  .app-grid-container {
    margin: 5% auto 0;
  }
}
